{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=xxx;AccountKey=xxx;EndpointSuffix=core.windows.net",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "Pika_API_Key": "development_api_key_123",
    "OpenRouter_API_Key": "your_openrouter_key",
    "Notion_API_Key": "your_notion_key",
    "Health_Metrics_Notion_DB_ID": "your_database_id",
    "Azure_Storage_Account_Name": "pikastorage",
    "Azure_Storage_Account_Key_default": "default_key_for_dev"
  }
}